* {
    margin: 0%;
    padding: 0%;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #102E50;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(".");
    background-repeat: no-repeat;
    background-size: contain ;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}


.container__imagem{
    margin: 1em 0 2em 0;
    border-radius: 2%;
    width: 70%;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.2);
}

.container__caixa{
    margin: 6em 6em ;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container_subtitulo{
    font-weight: 700;
    font-size: 18px;
    color: var(--cinza-secundario);
    margin-bottom: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type:none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos_titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

@media screen and (max-width: 1024px) {
    .container__imagem{
    margin: 0% 0 0em 0;
    border-radius: 2%;
    width: 100%;
    }
}